@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  --size: 1rem;
  --text-color: #212429;
}

body {
  font-family: "Montserrat", sans-serif;
  background-color: #ffffff;
}

button {
  border: none;
  background: none;
}

/* ==========================================================================
1. BOTONES NAVEGACION
   ========================================================================== */

.content-box {
  width: 1280px;
  height: 100px;
}

.botones-navegacion {
  display: flex;
  font-size: 16px;
  align-items: center;
  justify-content: space-between;
  padding: 12px;
  border-bottom: 1px solid #212429;
}

.botones-navegacion a {
  color: #212429;
  text-decoration: none;
  padding: 0.5rem 0.5rem;
}

/* ==========================================================================
2. TITULO NUEVAS COLECCIONES
   ========================================================================== */

.titulo_principal {
  max-width: 1280px;
  margin: 32px auto 16px;
  padding: 16px 32px;
}

.titulo_principal h1 {
  font-weight: 700;
  font-size: 32px;
  margin: 0;
}

/* ==========================================================================
3. FOTOS MODELOS
   ========================================================================== */

.Fotos_Modelos {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
  padding: 20px;
  justify-content: center;
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
}

.Fotos_Modelos img {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 20px;
  display: block;
}

.producto {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  font-size: 14px;
}
/* ==========================================================================
4. DATOS DE CONTACTO
   ========================================================================== */

.content-box {
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;
}

.Menu-Final {
  display: flex;
  background-color: #212429;
  font-size: 16px;
  align-items: center;
  justify-content: space-between;
  padding: 12px;
  border-bottom: 1px solid #212429;
}

.Menu-Final a {
  color: #ffffff;
  text-decoration: none;
  padding: 1rem 1rem;
}

.botones_color_final {
  background-color: rgb(255, 255, 255);
  border-radius: 50px;
  padding: 5px;
}
