@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  --size: 1rem;
  --text-color: #212429;
}

body {
  font-family: "Montserrat", sans-serif;
}

button {
  border: none;
  background: none;
}

/* ==========================================================================
1. BOTONES NAVEGACION
   ========================================================================== */

.content-box {
  width: 1280px;
  height: 100px;
}

.botones-navegacion {
  display: flex;
  font-size: 16px;
  align-items: center;
  justify-content: space-between;
  padding: 12px;
  border-bottom: 1px solid #212429;
}

.botones-navegacion a {
  color: #212429;
  text-decoration: none;
  padding: 1rem 1rem;
}

/* ==========================================================================
2. TITULO NUEVAS COLECCIONES
   ========================================================================== */

.titulo_principal {
  display: flex;
  font-size: 32px;
  align-items: center;
  justify-content: space-between;
  padding: 12px;
}
