@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');


:root {
  --size: 1rem;
  --text-color: #212429;
  --navbar-height: 70px;
}

body {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  line-height: 1.6;
  
}



button{
border: none;
background: none;
}
/* ==========================================================================
1. NAV BAR
   ========================================================================== */


   
.content-box{
  width:1280px;
  height:100px;
}

  .navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
  padding: 0 var(--size);
  border-bottom: 1px solid #212429
  }

  .navbar a {
  color:#212429;
  text-decoration: none;
  padding: 1rem 1rem;
  
  }


/* ==========================================================================
2. TITULO
   ========================================================================== */

h1 {

font-size: .75rem


}

/* ==========================================================================
3. IMAGENES
   ========================================================================== */

   .fotos.modelos {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr))
     gap: calc(var(--size) * 1.5);
    padding: 5rem 1rem ;  
   }

   * {box-sizing: border-box;}

