:root {
  --size: 1rem;
}




/* ==========================================================================
1. BARRA NAVEGACIÓN
   ========================================================================== */

.navbar {
  display: flex;
}

.navbar a {
  color: #000000;
  text-decoration: none;
  padding: 5rem 1rem;
}


/* ==========================================================================
1. IMAGENES
   ========================================================================== */

   .content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20px, 1fr))
    gap: var(--size);
    padding: 5rem 1rem ;  
   }